{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
{{title|title}}
{% endblock %}


{% block content %}
<div class="main-content main-content-checkout">
    <div class="container">
        {% if user.is_authenticated %}
         <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="trail-item trail-end active"> {{ title }}</li>
                    </ul>
                </div>
            <div class="row">
                <div class="main-content-cart main-content col-sm-12"><h3 class="custom_blog_title"> {{ title }}</h3>
                    <div class="page-main-content">
                        <div class="shoppingcart-content">
                            {% include 'basketapp/basket_product.html' %}

                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>

        <div class="checkout-wrapp">
            <div class="shipping-address-form-wrapp">
                <div class="shipping-address-form  checkout-form">
                    <div class="row-col-1 row-col">
                        <div class="shipping-address"><h3 class="title-form"> Адрес доставки</h3>
                            <p class="form-row form-row-first"><label class="text">Имя</label><input
                                    title="first" type="text" class="input-text"></p>
                            <p class="form-row form-row-last"><label class="text">Фамилия</label><input title="last"
                                                                                                          type="text"
                                                                                                          class="input-text">
                            </p>
                            <p class="form-row forn-row-col forn-row-col-1"><label class="text">Город</label><select
                                    title="country" data-placeholder="United Kingdom" class="chosen-select"
                                    tabindex="1">
                                <option value="United States">Актау</option>
                                <option value="United Kingdom">Алматы</option>
                                <option value="Afghanistan">Астана</option>
                                <option value="Aland Islands">Атырау</option>

                            </select></p>


                            <p class="form-row form-row-last"><label class="text">Адрес</label><input title="address"
                                                                                                        type="text"
                                                                                                        class="input-text">
                            </p></div>
                    </div>

                </div>

            <div class="payment-method-wrapp">
                <div class="payment-method-form checkout-form">
                    <div class="row-col-1 row-col">
                        <div class="payment-method"><h3 class="title-form"> Payment Method</h3>
                            <div class="group-button-payment"><a href="#" class="button btn-credit-card">Credit Card</a><a
                                    href="#" class="button btn-paypal">paypal</a></div>
                            <p class="form-row form-row-card-number"><label class="text">Card number</label><input
                                    type="text" class="input-text" placeholder="xxx - xxx - xxx - xxx"></p>
                            <p class="form-row forn-row-col forn-row-col-1"><label class="text">Month</label><select
                                    title="month" data-placeholder="01" class="chosen-select" tabindex="1">
                                <option value="thang01">01</option>
                                <option value="thang02">02</option>
                                <option value="thang03">03</option>
                                <option value="thang04">04</option>
                                <option value="thang05">05</option>
                                <option value="thang06">06</option>
                                <option value="thang07">07</option>
                                <option value="thang08">08</option>
                                <option value="thang09">09</option>
                                <option value="thang10">10</option>
                                <option value="thang11">11</option>
                                <option value="thang12">12</option>
                            </select></p>
                            <p class="form-row forn-row-col forn-row-col-2"><label class="text">Year</label><select
                                    title="Year" data-placeholder="2017" class="chosen-select" tabindex="1">
                                <option value="nam2017">2017</option>
                                <option value="nam2018">2018</option>
                                <option value="nam2019">2019</option>
                                <option value="nam2020">2020</option>
                                <option value="nam2021">2021</option>
                                <option value="nam2022">2022</option>

                            </select></p>
                            <p class="form-row forn-row-col forn-row-col-3"><label class="text">CVV</label>
                                <input type="text" class="input-text">
                        </div>
                    </div>

                </div>

            </div>


        </div>
            <div class="button-control"><a href="{% url 'index' %}" class="button btn-back-to-shipping">Обратно к покупкам</a>
                    <a href="#" class="button btn-pay-now">Купить</a></div>
    </div>
        {% else %}

        <div class="end-checkout-wrapp">
                <div class="end-checkout checkout-form">
                    <div class="error"></div>
                    <h3 class="title-checkend">С начала нужно Авторизоваться</h3>
<!--                    <div class="sub-title">Aenean dui mi, tempus non volutpat eget, molestie a orci. Nullam eget sem et-->
<!--                        eros laoreet rutrum. Quisque sem ante, feugiat quis lorem in.-->
<!--                    </div>-->
                    <a href="{% url 'users:login' %}" class="button btn-return">Авторизоваться</a></div>
            </div>
        {% endif %}
</div>
</div>


{% endblock %}