{% extends 'adminapp/base_admin.html' %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Товары</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Товары
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                <tr>
                                    <th>№</th>
                                    <th>Название</th>
                                    <th>Колличество</th>
                                    <th>Цена</th>
                                    <th>Категория</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for product in object_list %}

                                    <tr>
                                    <td>
                                        {{ product.id }}
                                    </td>
                                        <td><a href="{% url 'adminapp:admins_product_update' product.id %}"
                                               style="color: dodgerblue">{{ product.name }}</a></td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.category }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href=" {% url 'adminapp:admins_product_create' %}">
                            <button class="btn btn-success">Создать продукт</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; happybabby 2022</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}