{% extends 'mainapp/base.html' %}
{% load static %}


{% block title %}
    {{ title|title }}
{% endblock %}

{% block content %}
    <div>
        <div class="fullwidth-template">
            <div class="home-slider-banner">
                <div class="container">
                    <div class="row10">
                        <div class="col-lg-8 silider-wrapp">
                            <div class="home-slider">
                                <div class="slider-owl owl-slick equal-container nav-center"
                                     data-slick='{"autoplay":true, "autoplaySpeed":9000, "arrows":false, "dots":true, "infinite":true, "speed":1000, "rows":1}'
                                     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                                    <div class="slider-item style7">
                                        <div class="slider-inner equal-element">
                                            <div class="slider-infor">
                                                <h5 class="title-small"> Sale up to 40% off!</h5>
                                                <h3 class="title-big">Glasses for mondern girl</h3>
                                                <div class="price">New Price: <span class="number-price">														$270.00</span>
                                                </div>
                                                <a href="#" class="button btn-browse">Browse</a><a href="#"
                                                                                                   class="button btn-shop-the-look bgroud-style">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-item style8">
                                        <div class="slider-inner equal-element">
                                            <div class="slider-infor">
                                                <h5 class="title-small">Черная пятница распродажа!</h5>
                                                <h3 class="title-big">1/2 OFF Адмирал милый мальчик</h3>
                                                <div class="price">Цена: <span class="number-price">$170.00</span></div>
                                                <a href="#" class="button btn-shop-product">Купить</a></div>
                                        </div>
                                    </div>
                                    <div class="slider-item style9">
                                        <div class="slider-inner equal-element">
                                            <div class="slider-infor">
                                                <h5 class="title-small">Коллекция Мураби</h5>
                                                <h3 class="title-big">Вдохновение для магазина</h3>
                                                <div class="price">Цена: <span class="number-price">$270.00</span></div>
                                                <a href="#" class="button btn-chekout">Купить</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 banner-wrapp">
                            <div class="banner">
                                <div class="item-banner style7">
                                    <div class="inner">
                                        <div class="banner-content">
                                            <h3 class="title">Дизайнерская футболка</h3>
                                            <div class="description">Тренерская элита
                                                <br/>curabitur
                                            </div>
                                            <a href="#" class="button btn-lets-do-it">Купить</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner">
                                <div class="item-banner style8">
                                    <div class="inner">
                                        <div class="banner-content">
                                            <h3 class="title">Fashion Clothes</h3>
                                            <div class="description">Cras pulvinar
                                                <br/>lorem dolor conse
                                            </div>
                                            <span class="price">$379.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moorabi-product produc-featured rows-space-65">
                <div class="container">
                    <h3 class="custommenu-title-blog">Популярное</h3>
                    <div class="owl-products owl-slick equal-container nav-center"
                         data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":false, "speed":800, "rows":1}'
                         data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":4}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'>

                        {% for most in product_most %}
                            <div class="product-item style-5">
                                <div class="product-inner equal-element">
                                    <div class="product-top">
                                        <div class="flash"><span class="onnew"><span
                                                class="text">{{ most.status }}</span></span>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="thumb-inner">
                                            <a href="#"><img src="/media/{{ most.image }}" alt="img"
                                                             style="height: 300px"></a>
                                            <div class="thumb-group">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button"><a href="#">Избранное</a></div>
                                                </div>
                                                <a href="#" class="button quick-wiew-button">Быстрый просмотр</a>
                                                <div class="loop-form-add-to-cart">
                                                    <button class="single_add_to_cart_button button">В Сумку</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-count-down">
                                            <div class="moorabi-countdown" data-y="2020" data-m="10" data-w="4"
                                                 data-d="10"
                                                 data-h="20" data-i="20" data-s="60"></div>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h5 class="product-name product_title"><a href="#">{{ most.name }}</a></h5>
                                        <div class="group-info">
                                            <div class="stars-rating">
                                                <div class="star-rating"><span class="star-3"></span></div>
                                                <div class="count-star"> (3)</div>
                                            </div>
                                            <div class="price">

                                                <ins>{{ most.price }}</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="banner-wrapp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner">
                                <div class="item-banner style4">
                                    <div class="inner">
                                        <div class="banner-content">
                                            <h4 class="moorabi-subtitle">Girl Essential!</h4>
                                            <h3 class="title">Best Seller</h3>
                                            <div class="description">Proin interdum magna
                                                <br/>id consequatitum
                                            </div>
                                            <a href="#" class="button btn-shop-now">Купить</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner">
                                <div class="item-banner style5">
                                    <div class="inner">
                                        <div class="banner-content">
                                            <h3 class="title">Boy’s Photo <br/>Clearance</h3><span class="code">Use code:											<span>													MOORABI											</span> 25% off
                      <br/>Accessories items!</span><a href="#" class="button btn-shop-now">Купить</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-wrapp rows-space-65">
                <div class="container">
                    <div class="banner">
                        <div class="item-banner style17">
                            <div class="inner">
                                <div class="banner-content">
                                    <h3 class="title">Toy New Collection</h3>
                                    <div class="description">You have no toy & Are you
                                        <br/>ready to grow? come & shop with us!
                                    </div>
                                    <div class="banner-price">Price from: <span class="number-price">$45.00</span></div>
                                    <a href="#" class="button btn-shop-now">Купить</a><a href="#"
                                                                                         class="button btn-view-collection">View
                                    more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moorabi-tabs  default rows-space-40">
                <div class="container">
                    <div class="tab-head">
                        <ul class="tab-link">
                            <li class="active"><a data-toggle="tab" aria-expanded="true"
                                                  href="#bestseller">Распродажа</a></li>
                            <li class=""><a data-toggle="tab" aria-expanded="true" href="#new_arrivals">Новинки</a></li>

                        </ul>
                    </div>
                    <div class="tab-container">
                        <div id="bestseller" class="tab-panel active">
                            <div class="moorabi-product">
                                <ul class="row list-products auto-clear equal-container product-grid">
                                    {% for item in product_sale %}

                                              <li class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                                                    <div class="product-inner equal-element">
                                                        <div class="product-top">
                                                            <div class="flash"><span class="onnew"><span
                                                                    class="text">{{ item.status }}</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="product-thumb">
                                                            <div class="thumb-inner">
                                                                <a href="#"><img src="/media/{{ item.image }}" alt="img" style="height: 300px;width: 300px"></a>
                                                                <div class="thumb-group">
                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                        <div class="yith-wcwl-add-button"><a href="#">Add to
                                                                            Wishlist</a></div>
                                                                    </div>
                                                                    <a href="#" class="button quick-wiew-button">Quick View</a>
                                                                    <div class="loop-form-add-to-cart">
                                                                        <button class="single_add_to_cart_button button">В корзину
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h5 class="product-name product_title"><a href="#">{{ item.name }}</a></h5>
                                                            <div class="group-info">
                                                                <div class="stars-rating">
                                                                    <div class="star-rating"><span class="star-3"></span></div>
                                                                    <div class="count-star"> (3)</div>
                                                                </div>
                                                                <div class="price">
                                                                    <del>{{ item.old_price }}T</del>
                                                                    <ins>{{ item.price }}T</ins>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="new_arrivals" class="tab-panel">
                            <div class="moorabi-product">
                                <ul class="row list-products auto-clear equal-container product-grid">
                                    {% for item in product_new%}
                                              <li class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                                                    <div class="product-inner equal-element">
                                                        <div class="product-top">
                                                            <div class="flash"><span class="onnew"><span
                                                                    class="text">{{ item.status }}</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="product-thumb">
                                                            <div class="thumb-inner">
                                                                <a href="#"><img src="/media/{{ item.image }}" alt="img" style="width: 300px;height:300px;"></a>
                                                                <div class="thumb-group">
                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                        <div class="yith-wcwl-add-button"><a href="#">Add to
                                                                            Wishlist</a></div>
                                                                    </div>
                                                                    <a href="#" class="button quick-wiew-button">Quick View</a>
                                                                    <div class="loop-form-add-to-cart">
                                                                        <button class="single_add_to_cart_button button">В корзину
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h5 class="product-name product_title"><a href="#">{{ item.name }}</a></h5>
                                                            <div class="group-info">
                                                                <div class="stars-rating">
                                                                    <div class="star-rating"><span class="star-3"></span></div>
                                                                    <div class="count-star"> (3)</div>
                                                                </div>
                                                                <div class="price">
                                                                    <ins>{{ item.price }}T</ins>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="newsletter-wrapp">
                <div class="container">
                    <div class="moorabi-newsletter style3 ">
                        <div class="newsletter-head">
                            <h3 class="title">ПОДПИСАТЬСЯ НА РАССЫЛКУ</h3>
                            <div class="subtitle">Subscribe to get more special Deals,
                                <br/> Events & Promotions
                            </div>
                        </div>
                        <div class="newsletter-form-wrap">
                            <input class="input-text email email-newsletter" type="email" name="email"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moorabi-blog-wraap default">
                <div class="container">
                    <h3 class="custommenu-title-blog">НАШИ ПОСЛЕДНИЕ НОВОСТИ</h3>
                    <div class="moorabi-blog default">
                        <div class="owl-slick equal-container nav-center"
                             data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
                             data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'>
                            <div class="moorabi-blog-item equal-element layout1">
                                <div class="post-thumb">
                                    <a href="#"><img src="/static/images/slider-blog-thumb-1.jpg" alt="img"></a>
                                    <div class="category-blog">
                                        <ul class="list-category">
                                            <li class="category-item"><a href="#">Skincare</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-item-share"><a href="#" class="icon"><i class="fa fa-share-alt"
                                                                                             aria-hidden="true"></i></a>
                                        <div class="box-content"><a href="#"><i class="fa fa-facebook"></i></a><a
                                                href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                                class="fa fa-google-plus"></i></a><a href="#"><i
                                                class="fa fa-pinterest"></i></a><a href="#"><i
                                                class="fa fa-linkedin"></i></a></div>
                                    </div>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="post-date">January 08, 09:14 am</div>
                                        <span class="view"><i class="icon fa fa-eye" aria-hidden="true"></i>											631</span><span
                                            class="comment"><i class="icon fa fa-commenting" aria-hidden="true"></i>											84</span>
                                    </div>
                                    <h2 class="blog-title"><a href="#">We bring you the best</a></h2>
                                    <div class="main-info-post">
                                        <p class="des">Phasellus condimentum nulla a arcu lacinia, a venenatis ex
                                            congue. Mauris nec ante magna.</p><a class="readmore" href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="moorabi-blog-item equal-element layout1">
                                <div class="post-thumb">
                                    <a href="#"><img src="/static/images/slider-blog-thumb-2.jpg" alt="img"></a>
                                    <div class="category-blog">
                                        <ul class="list-category">
                                            <li class="category-item"><a href="#">HOW TO</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-item-share"><a href="#" class="icon"><i class="fa fa-share-alt"
                                                                                             aria-hidden="true"></i></a>
                                        <div class="box-content"><a href="#"><i class="fa fa-facebook"></i></a><a
                                                href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                                class="fa fa-google-plus"></i></a><a href="#"><i
                                                class="fa fa-pinterest"></i></a><a href="#"><i
                                                class="fa fa-linkedin"></i></a></div>
                                    </div>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="post-date">January 08, 09:14 am</div>
                                        <span class="view"><i class="icon fa fa-eye" aria-hidden="true"></i>											631</span><span
                                            class="comment"><i class="icon fa fa-commenting" aria-hidden="true"></i>											84</span>
                                    </div>
                                    <h2 class="blog-title"><a href="#">We know that buying shop</a></h2>
                                    <div class="main-info-post">
                                        <p class="des">Using Lorem Ipsum allows designers to put together layouts and
                                            the form content</p><a class="readmore" href="#">Read more</a></div>
                                </div>
                            </div>
                            <div class="moorabi-blog-item equal-element layout1">
                                <div class="post-thumb">
                                    <div class="video-moorabi-blog">
                                        <figure><img src="/static/images/slider-blog-thumb-3.jpg" alt="img" width="370"
                                                     height="280"></figure>
                                        <a class="quick-install" href="#" data-videosite="vimeo"
                                           data-videoid="134060140"></a>
                                    </div>
                                    <div class="category-blog">
                                        <ul class="list-category">
                                            <li class="category-item"><a href="#">VIDEO</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-item-share"><a href="#" class="icon"><i class="fa fa-share-alt"
                                                                                             aria-hidden="true"></i></a>
                                        <div class="box-content"><a href="#"><i class="fa fa-facebook"></i></a><a
                                                href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                                class="fa fa-google-plus"></i></a><a href="#"><i
                                                class="fa fa-pinterest"></i></a><a href="#"><i
                                                class="fa fa-linkedin"></i></a></div>
                                    </div>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="post-date">January 08, 09:14 am</div>
                                        <span class="view"><i class="icon fa fa-eye" aria-hidden="true"></i>											631</span><span
                                            class="comment"><i class="icon fa fa-commenting" aria-hidden="true"></i>											84</span>
                                    </div>
                                    <h2 class="blog-title"><a href="#">We design functional Toys</a></h2>
                                    <div class="main-info-post">
                                        <p class="des">Risus non porta suscipit lobortis habitasse felis, aptent
                                            interdum pretium ut.</p><a class="readmore" href="#">Read more</a></div>
                                </div>
                            </div>
                            <div class="moorabi-blog-item equal-element layout1">
                                <div class="post-thumb">
                                    <a href="#"><img src="/static/images/slider-blog-thumb-4.jpg" alt="img"></a>
                                    <div class="category-blog">
                                        <ul class="list-category">
                                            <li class="category-item"><a href="#">Skincare</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-item-share"><a href="#" class="icon"><i class="fa fa-share-alt"
                                                                                             aria-hidden="true"></i></a>
                                        <div class="box-content"><a href="#"><i class="fa fa-facebook"></i></a><a
                                                href="#"><i class="fa fa-twitter"></i></a><a href="#"><i
                                                class="fa fa-google-plus"></i></a><a href="#"><i
                                                class="fa fa-pinterest"></i></a><a href="#"><i
                                                class="fa fa-linkedin"></i></a></div>
                                    </div>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="post-date">January 08, 09:14 am</div>
                                        <span class="view"><i class="icon fa fa-eye" aria-hidden="true"></i>											631</span><span
                                            class="comment"><i class="icon fa fa-commenting" aria-hidden="true"></i>											84</span>
                                    </div>
                                    <h2 class="blog-title"><a href="#">We know that buying shop</a></h2>
                                    <div class="main-info-post">
                                        <p class="des">Class integer tellus praesent at torquent cras, potenti erat
                                            fames volutpat etiam.</p><a class="readmore" href="#">Read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







